* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
}

/* region header */
header {
        width: 80%;
        margin: auto;
}

.container_header {
    background-color: orange;
    width: 100%;
    height: 50px;
}

.col_h-2 {
    background-color: red;
    height: 20px;
    width: calc(100%/12*2);
    margin: 1rem 0;
    border: 2px solid black;
}
.col_h-8 {
    background-color: red;
    height: 20px;
    width: calc(100%/12*8);
    margin: 1rem 0;
    border: 2px solid black;
}
/* end region*/


/* region hero */
.hero {
    background-color: rgba(88, 88, 226, 0.523);
    padding: 1rem 0 3rem;

}

.image_hero {
    background-color: rgba(164, 163, 163, 0.8);
    width: 60%;
    height: 200px;
    margin: auto;
    
}
/* end region */


/* region main */
.container {
    background-color: rgba(255, 166, 0, 0.381);
    width: 80%;
    height: 300px;
    margin: 2rem auto;
    padding: 2rem 0;
}
 .row_sect {
    background-color: rgba(128, 128, 128, 0.642);
    height: 100%;
    padding: 2rem 0 1rem;
 }

.col_sect-4 {
    background-color: aquamarine;
    width: calc(100%/12*4);
    height: 100%;
    padding: 1.5rem 1rem 1rem;
}

.col_sect-8 {
    background-color: aquamarine;
    width: calc(100%/12*8);
    height: 100%;
    padding: 1.5rem 1rem 1rem;
}


.card {
    background-color: rgba(101, 176, 223, 0.873);
    height: 100%;

}
 /* end region */

 /* region footer*/



 /* end region */










.flexbox {
    display: flex;
}
