* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: bisque;
    width: 80%;
    height: 100px;
    margin: auto;
}

.container_header {
    background-color: orange;
    width: 100%;
    height: 50px;
}

.row {
    background-color: rgba(164, 163, 163, 0.8);
    width: 80%;
    height: 100%;
}
.col {
    background-color: red;
    width: calc(100%/3);
    height: 80%;
    margin: auto;
}

.container {
    background-color: rgba(128, 128, 128, 0.642);
    width: 50%;
    height: 100px;
}











.debug {
    margin: 1rem auto;
}

.flexbox {
    display: flex;
}

.flex_grow:nth :nth-of-type(2) {
    flex-grow: 3;
    
}